body {
    background-color: #666699;
} 

h1 {
    text-shadow: 0 0 3px #FFFFFF;
}

p {
    color: white;
}

a {
    color: white;
}

.header {
    padding: 50px;
    margin: -20px;
    text-align: center;
    background: #1d2e63;
    color: white;
    font-size: 30px;
}
