body {
    background-color: #666699;
} 

h1 {
    text-shadow: 0 0 3px #FFFFFF;
    text-align: center;
}

p {
    color: white;
    text-align: center;
}

a {
    color: white;
    margin-left: 10px;
    margin-right: 10px;
}

img {
    border: 5px solid white;
    display: block;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

.resume {
    text-align: center;
}

.header {
    padding: 50px;
    margin: -20px;
    text-align: center;
    background: #1d2e63;
    color: white;
    font-size: 30px;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%
}


.footer {
    padding: 15px;
    margin: -20px;
    text-align: center;
    background: #1d2e63;
    color: white;
    font-size: 15px;
    position: fixed;
    left: 0;
    bottom: 15px;
    width: 100%;
}


